version: "3.8"

services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: crud_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  springboot-app:
    image: springboot-crud-app
    container_name: springboot-app
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres-db

volumes:
  pgdata:
